/*For the menu bars*/
.active 
{
    background-color: #4CAF50;
    color: white;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li 
{
    float: left;
}
  
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover 
{
    background-color: #111;
}

/* End of menu bar */

/* For text formatting */
div.center
{
    text-align: center;
}
      
div.left
{
    text-align: left;
}
      
div.right
{
    text-align: right;
}
      
div.justify
{
    text-align: justify;
} 

body.forest
{
    /*the image url*/
    background-image: url(nature_stock_photo_1.jpg);

    /*Blur the image*/
    /*filter: blur(8px);
   -webkit-filter: blur(8px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
