/*For the menu bars*/
.active 
{
    background-color: #4CAF50;
    color: white;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 100%
}
  
li 
{
    float: left;
}
  
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover 
{
    background-color: #111;
}

/* End of menu bar */

/* For text formatting */
div.center
{
    margin: auto;
    text-align: center;
}
      
div.left
{
    margin: auto;
    text-align: left;
}
      
div.right
{
    text-align: right;
}
      
div.justify
{
    text-align: justify;
} 

div.indent
{
    text-indent: 2%;
}

div.item
{
    margin-top: 20px;
    padding-left: 5px;
    display: inline-block;
    text-align: left;
    width: 30%;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
}

/* Background image should be fixed now. */
.library 
{
    background-image: url("Books.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
