div 
{
    text-align: center;
   border-style: solid;
}

.red
{
    color: red;
}

/* body
{
    text-align: center;
}
.nujberedDivs
{
    width: 80%;
    margin:10px 0 10pxx 10%border: 1px solid black
} */
