div.inner_border 
{
   width: 50%;
   text-align: center;
   border-style: solid;
}

div.outer_div
{
    text-align: center;
    border-style: solid;
}

.red
{
    color: red;
}

.half {
   -ms-flex: 50%;
   flex: 50%;
}




/* body
{
    text-align: center;
}
.nujberedDivs
{
    width: 80%;
    margin:10px 0 10pxx 10%border: 1px solid black
} */
